page-home {
  ion-item.item-md {
    padding: 0;
  }
  textarea {
    resize: none;
    min-height: 50vh;
    width: 100%;
  }
  .words {
    display: flex;
    max-height: 50vh;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .word {
    display: flex;
    padding: 10px 5px;
    font-size: 16px;
    &__icon {
      cursor: pointer;
      padding-left: 10px;
    }
    &:nth-child(2n+1) {
      background-color: map-get($colors, light);
    }
  }
}
